{% extends 'base.html' %}
{% load static %}

{% block title %}Canciones Populares | Arctic Monkeys{% endblock %}

{% block content %}
<section>
    <h1>Canciones Más Escuchadas</h1>
    <p>Los temas con mayor impacto y reproducciones en plataformas digitales:</p>

    <ul>
        <li><strong>Do I Wanna Know?</strong> - Perteneciente al álbum AM.</li>
        <li><strong>505</strong> - Un clásico del disco Favourite Worst Nightmare.</li>
        <li><strong>I Wanna Be Yours</strong> - Balada basada en el poema de John Cooper Clarke.</li>
        <li><strong>Fluorescent Adolescent</strong> - Uno de los sencillos más representativos de la banda.</li>
    </ul>
</section>
{% endblock %}