<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Arctic Monkeys{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="m1"><a href="{% url 'bienvenida' %}">Inicio</a></li>
                <li id="m2"><a href="{% url 'app1:albumes' %}">Álbumes</a></li>
                <li id="m3"><a href="{% url 'app1:canciones' %}">Canciones Más Escuchadas</a></li>
                <li id="m4"><a href="#">Integrantes y Biografías</a></li>
                <li id="m5"><a href="#">Canciones</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; Creado por: Marian Paraguan 2026</p>
    </footer>
</body>
</html>