{% extends 'base.html' %}
{% load static %}

{% block title %}Arctic Monkeys{% endblock %}

{% block content %}


<section>
    <h1>Bienvenido al Fan Hub de Arctic Monkeys</h1>
    
    <p>
        Arctic Monkeys es una destacada banda de rock británica originaria de Sheffield, Inglaterra, 
        formada en 2002. El grupo está integrado por el vocalista y compositor Alex Turner, junto al 
        guitarrista Jamie Cook, el bajista Nick O'Malley y el baterista Matt Helders. A lo largo de 
        su trayectoria se han consolidado como una de las agrupaciones más influyentes del rock moderno, 
        evolucionando desde el sonido enérgico e independiente de sus primeros años hasta composiciones 
        mucho más sofisticadas y cinematográficas.
    </p>

    <div>
        <!-- Asegúrate de colocar una imagen en static/img/ con este mismo nombre -->
        <img src="{% static 'img/grupo.avif' %}" alt="Banda Arctic Monkeys" width="600">
    </div>
</section>
{% endblock %}